@media (max-width: 700px) {
  .nav {
    position: relative;
  }
  .nav ul {
    display: flex;
    gap: 20px;
    padding: 2% 0;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 3%;
    border-radius: 0 0 10px 10px;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    height: fit-content;
    transition: all 1s ease-in-out;
  }
  .nav ul.active {
    display: flex;
    opacity: 1;
    max-height: 170px;
    background-color: white;
  }
  .nav #burguer {
    display: block;
    padding: 50px;
  }
  .nav li > ul {
    position: absolute;
    display: none;
  }
  .nav ul li {
    position: relative;
  }
  .nav ul li a {
    color: #a3a1aa;
  }
  .nav li:last-of-type a {
    background: #fbd601;
  }

  .inicio {
    height: 320px;
  }

  .title {
    top: 5%;
  }

  .item1 {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .item1 img {
    grid-row: 1;
  }
  .item1 div {
    margin-top: 70px;
    height: 400px;
  }
  .item1 div h1 {
    width: 100%;
  }
  .item1 div p {
    width: fit-content;
  }
  .item1 div:first-of-type {
    margin-left: 0;
    padding: 0 2%;
  }
  .item1 span {
    bottom: 0;
    left: 2px;
  }

  .item2 {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .item2 div {
    margin-top: 70px;
    height: 400px;
  }
  .item2 div h1 {
    width: 100%;
  }
  .item2 div p {
    width: fit-content;
  }
  .item2 div:first-of-type {
    margin-left: 0;
    padding: 0 2%;
  }
  .item2 span {
    bottom: 0;
    left: 2px;
  }

  .item3 {
    grid-template-columns: 1fr;
  }
  .item3 .graphic {
    padding-bottom: 60px;
  }
  .item3 .photography {
    padding-bottom: 60px;
  }

  .client {
    grid-template-columns: 1fr;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .client .client-about {
    flex-direction: column;
    gap: 70px;
  }

  .images2 {
    grid-template-columns: 1fr 1fr;
  }

  .footer {
    justify-content: flex-start;
  }
  .footer svg {
    width: 150px;
    height: 30px;
    padding-bottom: 5px;
    margin-bottom: 50px;
  }
}
